:root {
  --text-color: #222;
  --background-color: #fafafa;

  --blue-900: #0d47a1;
  --green-900: #1b5e20;
  --grey-200: #eee;
  --grey-400: #bdbdbd;
  --yellow-50: #fffde7;
  --yellow-a100: #ffff8d;
}

html {
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--background-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .125em solid var(--grey-400);
  padding: .5em 0 1em 0;
}

img {
  object-fit: none;
  object-position: 0 0;
}

img.large {
  width: 24px;
  height: 24px;
}

img.small {
  width: 18px;
  height: 18px;
}

img.open-in-new {
  object-position: 0 0;
}

img.file-download {
  object-position: 0 -24px;
}

img.delete-forever {
  object-position: 0 -48px;
}

img.access-time {
  object-position: -3px -72px;
}

img.watch-later {
  object-position: -3px -90px;
}

img.timer {
  object-position: -3px -108px;
}

button,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.5em;
  padding: 0;
  cursor: default;
  font-size: 1em;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 0;
  border-radius: .125em;
  appearance: none;
}

button.details,
.button.details {
  justify-content: flex-start;
  background-color: transparent;
}

button.details img,
.button.details img {
  margin-right: .25em;
}

button.open,
button.download,
button.delete,
.button.open,
.button.download,
.button.delete {
  color: white;
}

button.open,
.button.open {
  background-color: var(--green-900);
}

button.closed,
.button.closed {
  background-color: var(--grey-400);
}

button.download,
.button.download {
  background-color: var(--blue-900);
}

button.delete,
.button.delete {
  background-color: var(--text-color);
}

button.icon,
.button.icon {
  width: 2.5em;
}

button.more,
.button.more {
  width: auto;
  padding-right: 1em;
  padding-left: 1em;
  font-size: 87.5%;
  background-color: var(--grey-200);
}

table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

th {
  padding: .5em;
  text-align: left;
  border-bottom: 1px solid var(--grey-400);
}


tbody tr:not(:last-child) td {
  border-bottom: 1px solid var(--grey-200);
}

tbody tr:hover {
  background-color: var(--yellow-50);
}

tbody tr.active td {
  background-color: var(--yellow-a100);
}

tbody td {
  padding: .25em .5em;
}

.report {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40em;
  max-width: 50%;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 .5em -1px rgba(0, 0, 0, .25);
  overflow: auto;
}

.report pre {
  line-height: 1.4;
  font-size: 1.16em;
}

.report .timestamp {
  display: flex;
  margin: .5em 0;
  align-items: center;
  font-size: 1.125em;
  line-height: 1;
}

.report .timestamp img {
  margin-right: .25em;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
