<h2>
  {{report.created_at}}
</h2>
<pre>{{report.body}}</pre>
<p>
  <a href="/reports/{{report.id}}/dump">
    download dump file
  </a>
</p>
<p>
  <button id="delete-report-btn">
    delete crash report
  </button>
</p>
<script>
 const deleteReportBtn = document.getElementById('delete-report-btn')

 deleteReportBtn.addEventListener('click', async event => {
   const opts = {method: 'DELETE'}
   const response = await fetch(document.location.pathname, opts)

   if (response.status === 200) {
     document.location.pathname = '/'
   } else {
     console.error(response)
   }
 })
</script>
