<h2>
  <%= @report.first[:created_at] %>
</h2>
<p>
  <% if @report.first[:open] %>
    open
  <% else %>
    closed
  <% end %>
</p>
<pre><%= JSON.pretty_generate(@report.first[:body]) %></pre>
<p>
  <a href="/reports/<%= @report.first[:id] %>/dump">
    download dump file
  </a>
</p>
<p>
  <button id="delete-report-btn">
    delete crash report
  </button>
</p>
<script>
 const deleteReportBtn = document.getElementById('delete-report-btn')

 deleteReportBtn.addEventListener('click', async event => {
   const authorization = `Basic ${unescape(document.cookie.split('=')[1])}`
   const opts = {headers: new Headers({authorization}), method: 'DELETE'}
   const response = await fetch(document.location.pathname, opts)

   if (response.status === 200) {
     document.location.pathname = '/'
   } else {
     console.error(response)
   }
 })
</script>
