ul {
	list-style-type: none;
}

ul li {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

ul li:not(:last-child) {
	border-bottom: 2px solid #e0e0e0;
}

ul div > a {
	display: inline-block;
	padding: 1rem;
	min-width: 8rem;
	font-size: 1.25rem;
	color: #212121;
}

ul li a:focus {
	outline: 0.25rem dotted blue;
}

ul li a span {
	color: #757575;
}

ul div > span a {
	display: inline-block;
	padding: 0.375rem;
	margin-right: 0.375rem;
	line-height: 1;
	font-size: 87.5%;
	font-weight: bold;
	color: #fafafa;
	background-color: #424242;
	border-radius: 0.25rem;
	text-decoration: none;
}

ul div > .application a {
	color: #424242;
	background-color: #fff;
}

ul div > .renderer a {
	background-color: #1b5e20;
}

ul div > .browser a {
	background-color: #6d4c41;
}

ul div > .darwin a {
	background-color: #880e4f;
}

ul div > .linux a {
	background-color: #7b1fa2;
}

ul div > .win32 a {
	background-color: #0d47a1;
}

ul div:last-child {
	padding: 1rem;
	font-size: 87.5%;
	color: #424242;
}
