main {
	padding: 2rem;
}

pre {
	margin: 1rem 0;
	overflow-x: auto;
	font-size: 1.2307692307692308rem; /* ~16px */
	tab-size: 4;
}

#timestamps {
	display: flex;
}

#timestamps div {
	display: flex;
	align-items: center;
	font-family: monospace;
	font-size: 1.0769230769230769rem; /* ~14px */
}

#timestamps div:not(:last-child) {
	margin-right: 2rem;
}

#timestamps div img {
	margin-right: 0.25rem;
}

#actions {
	display: flex;
}

#actions button,
#actions .button {
	all: unset;
	display: flex;
	align-items: center;
	padding: 1rem 1.5rem;
	font-size: 1.25rem;
	line-height: 1;
	text-transform: capitalize;
	cursor: pointer;
	background-color: #bdbdbd;
}

#actions button:focus,
#actions .button:focus {
	outline: 0.25rem dotted blue;
}

#actions button:not(:last-child),
#actions .button:not(:last-child) {
	margin-right: 1rem;
}

#actions button img,
#actions .button img {
	margin-right: 0.5rem;
}

#actions .opened {
	background-color: #81c784;
}

#actions #delete-button {
	background-color: #ef9a9a;
}
