<!DOCTYPE html>
<html lang="en">
	<title>crash reports</title>
	<link rel="icon" href="/assets/favicon.png" />
	<meta charset="utf-8" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
	<style>
		.hidden {
			display: none;
		}
	</style>

	{{{content}}}
</html>
