<!DOCTYPE html>
<html lang="en">
	<title>crash reports</title>
	<link rel="icon" href="/assets/favicon.png" />
	<meta charset="utf-8" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
	<style>
		html {
			box-sizing: border-box;
		}

		*,
		*::before,
		*::after {
			box-sizing: inherit;
			margin: 0;
			padding: 0;
		}

		body {
			font-family: sans-serif;
			line-height: 1.5;
		}
	</style>

	<main>{{{content}}}</main>
</html>
